.banner {
        width: 100%;
        text-align: center;
        border: 2px solid #4A4A4A;
        padding: 50px;
        box-sizing: border-box;
        flex: 0 1 auto;
        background-image:url(../images/house.png);
        background-repeat: no-repeat;
        background-position: top;
        background-color: #E0CA96;
        background-attachment: fixed;
        opacity: 0.8;
	z-index: 3;
}

.container {
        width: 100%;
        display: flex;
        height: 98%;
}

.nav_bar {
        width: 250px;
        height: 99%;
        background-color:#E0CA96;
        flex: 0 1 auto;
        display: flex;
        flex-flow: column;
}

.content {
        text-align: center;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
	overflow:auto;
}

.nav_link {
        display: inline-block;
        cursor: pointer;
        width: 99%;
        background-color: #E0CA96;
        background: linear-gradient(to top, rgba(200,200,200,1), rgba(255,255,255,1));
        padding: 5px;
        box-shadow: 3px 3px 1px #505050;
        color: black;
        text-align: center;
        transition-duration: 0.5s;
        font-size: 20px;
        margin: 0px 0px;
        text-decoration: none;
        float: left;
        box-sizing: border-box;
        opacity: 0.6;
	z-index: 3;
}

.nav_link_active {
        display: inline-block;
        width: 99%;
        background-color: #E0CA96;
        background: linear-gradient(to top, rgba(100,100,100,1), rgba(155,155,155,1));
	 padding: 5px;
        box-shadow: 3px 3px 1px #505050;
        color: black;
        text-align: center;
        transition-duration: 0.5s;
        font-size: 20px;
        margin: 0px 0px;
        text-decoration: none;
        float: left;
        box-sizing: border-box;
        opacity: 0.6;
}

.nav_link:hover {
        background-color: #363636;
        background: linear-gradient(to top, rgba(40,40,40,1), rgba(90,90,90,1));
        color: white;
        transition-duration: 0.5s;
}

body, html {
        height: 100%;
        margin: 0;
}

h1 {
        font-size: 48px;
}

.nav_fill {
        height:100%;
	display: inline-block;
        cursor: pointer;
        width: 99%;
        background-color: #E0CA96;
        background: linear-gradient(to top, rgba(200,200,200,1), rgba(255,255,255,1));
        box-shadow: 3px 3px 1px #505050;
        color: black;
        text-align: center;
        transition-duration: 0.5s;
        margin: 0px 0px;
        text-decoration: none;
        float: left;
        box-sizing: border-box;
        opacity: 0.6;
	z-index: 3;
}

.page {
        display: flex;
        flex-flow: column;
        height: 100%;
}


.main {
        width: 100%;
        height: 100vh;
        background-image:url(../images/house1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #E0CA96;
        background-attachment: fixed;
	background-size: cover;
        opacity: 0.8;
        display: flex;
        justify-content: center;
        align-items: center;
}

.holder {
        text-align: center;
}

.button {
        cursor: pointer;
        background-color: #E0CA96;
        background: linear-gradient(to top, rgba(200,200,200,1), rgba(255,255,255,1));
        padding: 5px 20px;
        box-shadow: 3px 3px 1px #505050;
        color: black;
        text-align: center;
        transition-duration: 0.5s;
        font-size: 20px;
        margin: 0px 0px;
        text-decoration: none;
        float: left;
        box-sizing: border-box;
        opacity: 0.7;
        border-radius: 15px;
        border: 4px solid #4A4A4A;

}

.button:hover {
        background-color: #363636;
        background: linear-gradient(to top, rgba(40,40,40,1), rgba(90,90,90,1));
        color: white;
        transition-duration: 1s;
}

.calendar {
        width: 100%;
        height: 100%;
        border: 4px solid #4A4A4A;
        margin: 0px;
        border-collapse: collapse;
        opacity: 0.9;
}

tr {
        width: 100%;
        margin: 0px;
}

td {
        margin: 0px;
        vertical-align: top;
        padding: 0px;
        background: linear-gradient(to top left, rgba(200,200,200,1), rgba(255,255,255,1));
        box-shadow: 3px 3px 1px #505050;
        width: 14.3%
}

.month_alt {
        color: #ADADAD;
}

.date {
        text-align: left;
        padding: 0px 10px;
}

th {
        border: 4px solid #4A4A4A;
        background: linear-gradient(to top, rgba(224,202,150,1), rgba(274,252,200,1));
        opacity: 0.8;
}

.eventl {
        color: #FF0000;
}

.evente {
        color: #0000FF;
}

.forumpost {
        border: 4px solid #4A4A4A;
        background: linear-gradient(to top, rgba(224,202,150,1), rgba(274,252,200,1));
        opacity: 0.8;	
}

.forumposttext {
	border: 4px solid #4A4A4A;
	position: absolute;
	background-color: #363636;
        background: linear-gradient(to top, rgba(40,40,40,1), rgba(90,90,90,1));
        color: white;
	opacity: 0;
	width: calc(100vw - 240px);
	height: 123px;
	text-align: left;
}

.addnew {
	position: absolute;
	bottom: 10%;
	right: 10%;
	background-color: #E0CA96;
        background: linear-gradient(to top, rgba(78,244,66,1), rgba(30,102,25,1));
        box-shadow: 3px 3px 1px #505050;
        color: black;
        text-align: center;
        transition-duration: 0.25s;
        font-size: 30px;
        opacity: 0.8;
        border-radius: 1000px;
        width: 6%;
	z-index: 2;
}

.addnew:hover {
	background-color: #363636;
        background: linear-gradient(to top, rgba(80,80,80,1), rgba(120,120,120,1));
        color: white;
        transition-duration: 0.25s;
}

.interfacebackground {
	position: absolute;
	background-color: #363636;
	color: white;
	opacity: 0.8;
	z-index: 1;
	overflow: hidden;
	height: 100%;
	width: 100%;
	padding-top: 20px;
	text-align: center;
}

.buttonviewthread {
	position: absolute;
	right: 1%;
	box-shadow: 3px 3px 1px #505050;
	width: 6%;
	text-align: center;
	font-size: 30px;
        opacity: 0.8;
	z-index: 2;
	height: 125px;
	background: linear-gradient(to top, rgba(102, 130, 175,1), rgba(133, 172, 234 ,1));
}

.buttonviewthread:hover {
	background-color: #363636;
        background: linear-gradient(to top, rgba(80,80,80,1), rgba(120,120,120,1));
        color: white;
        transition-duration: 0.25s;
}

.forumposttext:hover {
	opacity: 0.8;
}

.forumpost:hover {
	opactiy: 0;
}

@media only screen and (max-device-width: 480px) {
	.forumpostext: 
}